<div>
    <button (click)="add('polygon')" *ngIf="!currentShape && !editShape">Ajouter un polygone</button>
    <button (click)="add('rectangle')" *ngIf="!currentShape && !editShape">Ajouter un rectangle</button>
    <ng-container *ngIf="currentShape">
        <button (click)="record()" [disabled]="!currentShape.canSave()">Enregistrer forme</button>
        <button (click)="deleteShape()" [disabled]="currentShape.npoints == 0">Effacer</button>
    </ng-container>
</div>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" #parent [attr.width]="width" [attr.height]="height" (mouseup)="stopdrag($event)" (contextmenu)="rightClick($event)" (mousedown)="managePoint($event)">
    <image [attr.xlink:href]="image" x="0" y="0" [attr.height]="height" [attr.width]="width"  />
    <ng-container *ngFor="let shape of shapes; let i = index;">
        <polygon *ngIf="shapeUtils.isPolygon(shape) && shape != currentShape" [attr.transform]="shape.getTransformHtml()" [attr.points]="shape.svgPoints()" [attr.stroke]="attributes.stroke" [attr.data-index]="i" [attr.stroke-width]="attributes['stroke-width']" [attr.fill] ="attributes.fill" (mousedown)="!editShape ? startDrag($event) : false" (mouseup)="dragElement ? stopShapeDrag($event) : (!editShape && !currentShape ? edit($event) : false)" />
        <rect *ngIf="shapeUtils.isRectangle(shape) && shape != currentShape" [attr.transform]="shape.getTransformHtml()" [attr.x]="shape.x" [attr.y]="shape.y" [attr.width]="shape.width" [attr.height]="shape.height" [attr.stroke]="attributes.stroke" [attr.data-index]="i" [attr.stroke-width]="attributes['stroke-width']" [attr.fill] ="attributes.fill" (mousedown)="!editShape ? startDrag($event) : false" (mouseup)="dragElement ? stopShapeDrag($event) : (!editShape && !currentShape ? edit($event) : false)" />
    </ng-container>
    <ng-container *ngIf="currentShape">
        <polygon *ngIf="shapeUtils.isPolygon(currentShape)" [attr.transform]="currentShape.getTransformHtml()" [attr.points]="currentShape.svgPoints()" [attr.stroke]="attributes.stroke" [attr.stroke-width]="attributes['stroke-width']" [attr.fill] ="attributes['fill-edited']" />
        <rect *ngIf="shapeUtils.isRectangle(currentShape)" [attr.transform]="currentShape.getTransformHtml()" [attr.x]="currentShape.x" [attr.y]="currentShape.y" [attr.width]="currentShape.width" [attr.height]="currentShape.height" [attr.fill]="attributes['fill-edited']" [attr.stroke]="attributes.stroke" [attr.stroke-width]="attributes['stroke-width']"/>
    </ng-container>
    <ng-container *ngIf="currentShape">
        <rect *ngFor="let idx of currentShape.xpoints; let j = index;" [id]="'p' + j" [attr.transform]="currentShape.getTransformHtml()" [attr.x]="currentShape.xpoints[j] - 2" [attr.y]="currentShape.ypoints[j] - 2" [attr.data-index]="j" width="4" height="4" fill="white" stroke="red" stroke-width="1"/>
    </ng-container>
</svg>