<div>
    <ng-container *ngIf="!editShape && !currentPolygon">
        <button (click)="addPolygon()">Ajouter polygone</button>
    </ng-container>
    <ng-container *ngIf="currentPolygon">
        <button (click)="record()" [disabled]="currentPolygon.npoints < 3">Enregistrer forme</button>
        <button (click)="clear()" [disabled]="currentPolygon.npoints == 0">Effacer</button>
    </ng-container>
</div>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" #parent width="1200" height="873" (mouseup)="stopdrag($event)" (contextmenu)="rightClick($event)" (mousedown)="managePoint($event)">
    <image [attr.xlink:href]="image" x="0" y="0" height="873" width="1200"  />
	<ng-container *ngFor="let shape of createdPolygons; let i = index;">
        <ng-container *ngIf="isPolygon(shape)">
            <polygon [attr.points]="shape.svgPoints()" [attr.stroke]="stroke" [attr.data-index]="i" [attr.stroke-width]="strokeWidth" [attr.fill] ="fill" (mousedown)="editPolygon($event)" />    
        </ng-container>
    </ng-container>
    <ng-container *ngIf="currentPolygon">
        <polygon [attr.points]="currentPolygon.svgPoints()" [attr.stroke]="stroke" [attr.data-index]="i" [attr.stroke-width]="strokeWidth" [attr.fill] ="fillEdited"></polygon>    
        <rect *ngFor="let idx of currentPolygon.xpoints; let j = index;" [id]="'p' + j" [attr.x]="currentPolygon.xpoints[j] - 2" [attr.y]="currentPolygon.ypoints[j] - 2" [attr.data-index]="j" width="4" height="4" fill="white" stroke="red" stroke-width="1"/>
    </ng-container>
</svg>